<div>
  <form action="/" method="GET" class="is-flex is-justify-content-end mt-5">
    <div class="field has-addons columns is-multiline is-gapless">
      <div class="control column is-two-quarters">
        <input
          class="input"
          type="text"
          name="search"
          placeholder="Search for perfumes"
          value="<%= search %>"
        />
      </div>
      <div class="control column is-one-quarter">
        <div class="select">
          <select name="brand">
            <option value="">All Brands</option>
            <% perfumes.forEach(perfume => { %>
            <option value="<%= perfume.brand._id %>" <%= perfume.brand._id == selectedBrand ? 'selected' : '' %>> <%= perfume.brand.brandName %></option>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="control column is-one-quarter">
        <button class="button is-black" type="submit">Search</button>
      </div>
    </div>
  </form>

  <div class="columns is-multiline mt-5" style="user-select: none;">
    <% perfumes.forEach(perfume => { %>
    <div class="column is-one-quarter">
      <div class="card is-fullheight is-Hoverable" onclick="window.location.href='/perfume/<%= perfume._id %>'"> 
        <% if (perfume.concentration === 'Extrait') { %>
        <div class="ribbon">Extrait</div>
        <% } %>

        <div class="card-image">
          <figure class="image is-4by3">
            <img src="<%= perfume.uri %>" alt="Placeholder image" />
          </figure>
        </div>
        <div class="card-content is-flex-grow-1">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= perfume.perfumeName %></p>
            </div>
          </div>
          <div class="content is-fullheight" style="height: 12vw; max-height: 170px;">
            <p><%= perfume.description %></p>
            <p>Volume: <%= perfume.volume %>ml</p>
            <p>Target Audience: <%= perfume.targetAudience %></p>
            <p>Brand: <%= perfume.brand.brandName %></p>
          </div>
          <footer class=" " 
                  style="flex: auto; text-align: center; 
                          align-items: center; margin-bottom: -5%; 
                          padding-top: 5%; color: red; font-weight: bold;
                          font-size: 1.3rem; border-top: 1px solid #dbdbdb;
                          "
          >
            <p><%= perfume.price.toLocaleString() %></p>
          </footer>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
